*.3dsx
*.3dsx.xz
*.cia
*.cia.xz
*.elf
*.nacp
*.nro
*.nro.xz
*.nso
*.pfs0
*.smdh
.gdb_history
3ds/build
3ds/romfs/*.t3x
linux/build
linux/ftpd
switch/build
switch/romfs/*.zst
switch/romfs/shaders/*.dksh
