*.nds
*.nds.xz
*.3dsx
*.3dsx.xz
*.cia
*.cia.xz
*.elf
*.nacp
*.nds
*.nro
*.nro.xz
*.nso
*.pfs0
*.smdh
*~
.gdb_history
3ds/build
3ds-classic/build
3ds/romfs/*.t3x
linux/build
linux/ftpd
nds/build
switch/build
switch-classic/build
switch/romfs/*.zst
switch/romfs/shaders/*.dksh
build*/
